.container {
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  background: #121212;
}
.header {
  background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
  display: flex;
  flex-direction: column;
}
.main {
  /* WHY??????????
  height: 80vh;
  */
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.mainlogo{
 padding: 10px 25px;
 /*display flex and aligned center*/
 display: flex;
 align-items: center;
 font-family: 'Bebas Neue', cursive;  
 font-size: 2rem;
 color: #FFF;
}
.mainlogo span, .footerimg span {
  padding-left: 0.5rem;
}

.logo, .logo2 {
  height: 1.5em;
  margin: 2px 1px;
  
 
}

.logo2 {
  padding-top: 4px;
}


.body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin:0 3rem;
}

.maintitle {
  margin: 40px 0;
  color: #FFF;
}

.title1 {
  font-family: 'Bebas Neue', cursive;  
  font-style: normal;
  font-weight: 400;
  font-size: 6rem ;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.title2 {
    
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

.coin {
  margin-right: 120px;
}

.mainFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}
.mainFooter > div {
  max-width: 900px;
  width: 100%;
  
}


.footersection {
  background: #121212;
  display: flex;
  justify-content: space-between;
  
}

.footertitle {
  background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
  font-family: 'Bebas Neue', cursive;  
  font-style: normal;
  font-weight: 400;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;    
   font-size: 40px;
   margin-top: 60px;
   margin-bottom: 0px;

}

.fonticon {
  width: 1.5rem;
}

.footert2 {
  color: #FFF;
  margin-top: 0px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 49px;
}

.media {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  font-weight: 400;
  font-size: 20px;
  color: #FFF;
}




.line {
  height: 1px;
  background: linear-gradient(180deg, #1143C5 0%, #119AC5 100%);
  font-family: 'Bebas Neue', cursive;  
  font-style: normal;
  -webkit-text-fill-color: transparent;
  margin: 3rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
}

.footerimg {
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: 'Bebas Neue', cursive;  
  font-size: 2rem;
  color: #7E7C7C;
}
.logo3 {
  height: 40px;
  padding-right: 5px;
}

.logo4 {
  height: 20px;
  margin-bottom: 10px;
}

.footerright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px; 
  letter-spacing: 0.5px;
  color: #FFFFFF;

}

@media screen and (max-width: 900px) {
  .body {
    align-items: center;
  }

}

@media screen and (max-width: 600px) {
  .body {
    flex-direction: column;
    text-align: center;
  }
  .footersection {
    flex-direction: column;
  }
  .footersection > div {
    text-align: center;
    align-items: center;
  }
  
}

@media screen and (max-width: 480px) {

}